<html>
	<head>
		<title>{{ title }}</title>
		<link rel="stylesheet" href="/static/css/bootstrap.css">
		<link rel="stylesheet" href="/static/css/style.css">
	</head>

	<body>

		<div class="row">
		<div class="col-xs-10 col-xs-offset-1">
		<nav class="navbar navbar-inverse">
			<div class="container-fluid">
				<div class="navbar-header">
					<a class="navbar-brand" href="/">ShorTor</a>
    			</div>
  			</div>
		</nav>
		</div>
		</div>

		<div class="row">
			<div class="col-xs-10 col-xs-offset-1">
				<div class="panel panel-default panel-link">
					<h2>Success!</h2>
					<p>Copy the link from below and use it instead of the long URL!</p>
					<input type="text" readonly class="form-control" value="{{ link }}">
					<p>Use <a href="/stats/{{ uid }}/{{ privkey }}">this</a> link to view
						statistics about your shortened URL.</p>
				</div>
				<div class="panel panel-default">
					<div class="panel-body">
				    	&copy; 2016 <a href="mailto:daknob@daknob.net">Antonios A. Chariton</a>
						-
						ShorTor is <a href="https://github.com/DaKnOb/ShorTor">Open Source Software</a>
						-
						Licensed under <a href="/MIT">the MIT License</a>
						-
						v{{ version }}
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
